{"configSettings":[{"appID":"SharedServerToken","serverToken":""},{"appID":"2536873756697525","serverToken":"HQKZPLISWFHPFU5CQ6HIM6BJADW24NPU"},{"appID":"voiceSDK_en","serverToken":""},{"appID":"2039621636534855","serverToken":"QJWMJUJXJJIFMIJ42I66UZK3H26CNLZI"},{"appID":"04b6d9fc-60b7-4d9e-8473-9290b9d1243f","serverToken":""}]}